@font-face {
  font-family: breeze;
  src: url("assets/breeze/Breeze Personal Use.ttf");
}

@font-face {
  font-family: stereo;
  src: url("assets/stereofidelic/stereofidelic.ttf");
}

@font-face {
  font-family: squared;
  src: url("assets/squared/Squared Display.ttf");
}

@font-face {
  font-family: android;
  src: url("assets/android/Android.ttf");
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #eceeef;
}

h3 {
  font-family: squared;
  display: none;
  font-size: 4rem;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-toggler {
  color: #cac9cb;
  font-family: android;
  font-weight: lighter;
}

form {
  display: block;
  float: right;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

input {
  margin-right: 0.5rem;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/table.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 47rem;
  margin-top: 2em;
  position: relative;
  border-bottom: 1px solid white;
}

h1 {
  text-align: center;
  font-family: breeze;
  position: relative;
  top: 17rem;
  color: white;
  font-size: 12rem;
}

.form-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-outline-success {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.jumbotron {
  display: block;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  height: 100%;
  display: none;
}

.main {
  height: 700px;
}

.container-left::-webkit-scrollbar {
  display: none;
}

.container-left {
  box-sizing: border-box;
  float: left;
  width: 62%;
  padding-left: 1rem;
  overflow: scroll;
  height: 656px;
}

.container-right {
  box-sizing: border-box;
  float: right;
  width: 38%;
  padding-left: 5em;
  overflow: scroll;
  height: 656px;
}

.container-right::-webkit-scrollbar {
  display: none;
}

.selected {
  color: #cac9cb;
  display: none;
  text-align: center;
  width: 89%;
  border-radius: 2rem;
  background-color: rgba(54, 92, 84, 0.69);
}

.select img {
  width: 100%;
  border-radius: 1.3em;
}

.recipe-info {
  text-align: center;
}

.recipe {
  font-size: 2em;
  color: whitesmoke;
}

.selected ul {
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  text-align: left;
  padding-left: 4rem;
}
.description {
  font-size: 14px;
}
.recipe-name {
  font-size: 14px;
}
.ingredients li {
  font-size: 1.5em;
}
.recipe-results:hover {
  cursor: pointer;
}
.time {
  font-size: 1.5em;
  color: whitesmoke;
}

#results {
  box-sizing: border-box;
  border-radius: 0.3rem;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin: 1%;
}

.hidden-rec {
  display: none;
}

.inspiration {
  height: 113px;
  width: 100%;
  display: block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: 3em;
}

.inspiration img {
  display: inline-block;
  margin: 0;
  height: 113px;
}

.recipe-results {
  border: 1px solid grey;
  box-sizing: border-box;
  background-color: #646776;
  color: white;
  display: flex;
  width: 350px;
  float: left;
  margin: 0em 1em 2em;
  border-radius: 0.3rem;
  justify-content: center;
  align-items: center;
}

.recipe-results img {
  float: left;
  clear: both;
}

.info {
  text-align: center;
  width: 100%;
}

.description {
  font-weight: bold;
}

.foodsearch {
  margin-top: 2em;
}

.diets {
  display: block;
  font-size: 14px;
  margin: 0;
}

.diets ul {
  text-align: center;
  margin: 3rem;
}

.diets li {
  font-family: stereo;
  font-size: 2em;
  background-color: rgba(17, 34, 61, 0.81);
  list-style-type: none;
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 2.3em;
  margin-left: 9rem;
  margin-right: 9rem;
}

.diets a {
  color: #498a6e;
}

footer {
  display: none;
  position: static;
  width: 100%;
  text-align: center;
}

.footer-info {
  background-color: #222;
  height: 10rem;
  color: #cac9cb;
}
