@font-face {
  font-family: breeze;
  src: url("assets/breeze/Breeze Personal Use.ttf");
}

@font-face {
  font-family: stereo;
  src: url("assets/stereofidelic/stereofidelic.ttf");
}

@font-face {
  font-family: squared;
  src: url("assets/squared/Squared Display.ttf");
}

@font-face {
  font-family: android;
  src: url("assets/android/Android.ttf");
}
